#noty{
  height: auto;
  max-height: 600px;
  overflow: scroll;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  width: 300px;
  right: 15px;
  top:70px;
  border-radius: 4px;
}
#closeNoty{
  cursor: pointer;
}
